In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [5]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [6]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [7]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [8]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [9]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [10]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [12]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('one_hot_encoder_geography', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

#### ANN Regression Problem statement

In [13]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [14]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

2024-12-25 16:59:38.571821: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M3 Pro
2024-12-25 16:59:38.571851: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 18.00 GB
2024-12-25 16:59:38.571857: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 6.00 GB
2024-12-25 16:59:38.571890: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:306] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2024-12-25 16:59:38.571909: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:272] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [16]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [17]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100

2024-12-25 16:59:47.293450: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:117] Plugin optimizer for device_type GPU is enabled.

250/250 [==============================] - 2s 4ms/step - loss: 100424.2656 - mae: 100424.2656 - val_loss: 98701.3594 - val_mae: 98701.3594
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 100336.0625 - mae: 100336.0625 - val_loss: 98533.3281 - val_mae: 98533.3281
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 100055.8281 - mae: 100055.8281 - val_loss: 98159.6875 - val_mae: 98159.6875
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 99526.0625 - mae: 99526.0625 - val_loss: 97566.1250 - val_mae: 97566.1250
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 98758.3516 - mae: 98758.3516 - val_loss: 96784.5312 - val_mae: 96784.5312
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 97732.3750 - mae: 97732.3750 - val_loss: 95846.6016 - val_mae: 95846.6016
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 96577.4688 - mae: 96577.4688 - val_loss: 94932.0703 - val_mae: 94932.0703
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 95430.5156 - mae: 95430.5156 - val_loss: 94141.8672 - val_mae: 94141.8672
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 94500.0234 - mae: 94500.0234 - val_loss: 93533.3125 - val_mae: 93533.3125
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 93714.6797 - mae: 93714.6797 - val_loss: 92969.3281 - val_mae: 92969.3281
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 93120.9375 - mae: 93120.9375 - val_loss: 92494.8203 - val_mae: 92494.8203
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 92614.8516 - mae: 92614.8516 - val_loss: 92102.4844 - val_mae: 92102.4844
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 92166.7266 - mae: 92166.7266 - val_loss: 91722.2812 - val_mae: 91722.2812
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 91728.0469 - mae: 91728.0469 - val_loss: 91411.1094 - val_mae: 91411.1094
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 91400.8594 - mae: 91400.8594 - val_loss: 91029.3281 - val_mae: 91029.3281
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 91064.6172 - mae: 91064.6172 - val_loss: 90624.0703 - val_mae: 90624.0703
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 90661.9062 - mae: 90661.9062 - val_loss: 90203.1562 - val_mae: 90203.1562
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 90260.3516 - mae: 90260.3516 - val_loss: 89691.6016 - val_mae: 89691.6016
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 89791.0703 - mae: 89791.0703 - val_loss: 89131.6406 - val_mae: 89131.6406
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 89237.3672 - mae: 89237.3672 - val_loss: 88417.9141 - val_mae: 88417.9141
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 88554.3672 - mae: 88554.3672 - val_loss: 87640.6797 - val_mae: 87640.6797
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 87804.3359 - mae: 87804.3359 - val_loss: 86810.3828 - val_mae: 86810.3828
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 86986.3359 - mae: 86986.3359 - val_loss: 85959.4375 - val_mae: 85959.4375
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 86140.2891 - mae: 86140.2891 - val_loss: 85032.8984 - val_mae: 85032.8984
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 85204.0078 - mae: 85204.0078 - val_loss: 84034.6016 - val_mae: 84034.6016
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 84213.5391 - mae: 84213.5391 - val_loss: 83009.9297 - val_mae: 83009.9297
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 83211.2891 - mae: 83211.2891 - val_loss: 81945.1875 - val_mae: 81945.1875
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 82159.2266 - mae: 82159.2266 - val_loss: 80833.4609 - val_mae: 80833.4609
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 81068.4375 - mae: 81068.4375 - val_loss: 79738.2734 - val_mae: 79738.2734
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 79927.2969 - mae: 79927.2969 - val_loss: 78588.0859 - val_mae: 78588.0859
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 78767.8438 - mae: 78767.8438 - val_loss: 77301.6953 - val_mae: 77301.6953
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 77588.1328 - mae: 77588.1328 - val_loss: 76079.4609 - val_mae: 76079.4609
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 76413.8594 - mae: 76413.8594 - val_loss: 74867.7656 - val_mae: 74867.7656
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 75225.2891 - mae: 75225.2891 - val_loss: 73777.8438 - val_mae: 73777.8438
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 74100.5625 - mae: 74100.5625 - val_loss: 72575.4844 - val_mae: 72575.4844
Epoch 36/100
250/250 [==============================] - 1s 3ms/step - loss: 72981.1172 - mae: 72981.1172 - val_loss: 71443.2734 - val_mae: 71443.2734
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 71854.0078 - mae: 71854.0078 - val_loss: 70336.7266 - val_mae: 70336.7266
Epoch 38/100
250/250 [==============================] - 1s 3ms/step - loss: 70738.4297 - mae: 70738.4297 - val_loss: 69237.1875 - val_mae: 69237.1875
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 69655.1953 - mae: 69655.1953 - val_loss: 68141.8281 - val_mae: 68141.8281
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 68568.2891 - mae: 68568.2891 - val_loss: 67054.0391 - val_mae: 67054.0391
Epoch 41/100
250/250 [==============================] - 1s 3ms/step - loss: 67487.6797 - mae: 67487.6797 - val_loss: 66005.9922 - val_mae: 66005.9922
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 66446.2969 - mae: 66446.2969 - val_loss: 64993.2773 - val_mae: 64993.2773
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 65410.3945 - mae: 65410.3945 - val_loss: 64071.2695 - val_mae: 64071.2695
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 64427.0312 - mae: 64427.0312 - val_loss: 62984.2188 - val_mae: 62984.2188
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 63443.0000 - mae: 63443.0000 - val_loss: 62075.9258 - val_mae: 62075.9258
Epoch 46/100
250/250 [==============================] - 1s 3ms/step - loss: 62494.2891 - mae: 62494.2891 - val_loss: 61234.1211 - val_mae: 61234.1211
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 61616.3086 - mae: 61616.3086 - val_loss: 60348.1641 - val_mae: 60348.1641
Epoch 48/100
250/250 [==============================] - 1s 3ms/step - loss: 60751.7109 - mae: 60751.7109 - val_loss: 59467.1328 - val_mae: 59467.1328
Epoch 49/100
250/250 [==============================] - 1s 3ms/step - loss: 59908.4375 - mae: 59908.4375 - val_loss: 58671.3086 - val_mae: 58671.3086
Epoch 50/100
250/250 [==============================] - 1s 3ms/step - loss: 59069.2422 - mae: 59069.2422 - val_loss: 57855.3398 - val_mae: 57855.3398
Epoch 51/100
250/250 [==============================] - 1s 3ms/step - loss: 58274.7461 - mae: 58274.7461 - val_loss: 57164.0156 - val_mae: 57164.0156
Epoch 52/100
250/250 [==============================] - 1s 3ms/step - loss: 57583.4297 - mae: 57583.4297 - val_loss: 56470.4023 - val_mae: 56470.4023
Epoch 53/100
250/250 [==============================] - 1s 3ms/step - loss: 56895.2617 - mae: 56895.2617 - val_loss: 55834.1484 - val_mae: 55834.1484
Epoch 54/100
250/250 [==============================] - 1s 3ms/step - loss: 56264.1133 - mae: 56264.1133 - val_loss: 55240.1250 - val_mae: 55240.1250
Epoch 55/100
250/250 [==============================] - 1s 3ms/step - loss: 55629.9883 - mae: 55629.9883 - val_loss: 54691.1992 - val_mae: 54691.1992
Epoch 56/100
250/250 [==============================] - 1s 3ms/step - loss: 55038.7930 - mae: 55038.7930 - val_loss: 54192.2109 - val_mae: 54192.2109
Epoch 57/100
250/250 [==============================] - 1s 3ms/step - loss: 54496.1680 - mae: 54496.1680 - val_loss: 53735.7812 - val_mae: 53735.7812
Epoch 58/100
250/250 [==============================] - 1s 3ms/step - loss: 53999.0625 - mae: 53999.0625 - val_loss: 53295.4336 - val_mae: 53295.4336
Epoch 59/100
250/250 [==============================] - 1s 3ms/step - loss: 53531.1055 - mae: 53531.1055 - val_loss: 52906.0352 - val_mae: 52906.0352
Epoch 60/100
250/250 [==============================] - 1s 3ms/step - loss: 53103.8594 - mae: 53103.8594 - val_loss: 52562.3906 - val_mae: 52562.3906
Epoch 61/100
250/250 [==============================] - 1s 3ms/step - loss: 52714.9805 - mae: 52714.9805 - val_loss: 52244.0508 - val_mae: 52244.0508
Epoch 62/100
250/250 [==============================] - 1s 3ms/step - loss: 52353.6328 - mae: 52353.6328 - val_loss: 51950.4297 - val_mae: 51950.4297
Epoch 63/100
250/250 [==============================] - 1s 3ms/step - loss: 52043.2188 - mae: 52043.2188 - val_loss: 51751.9219 - val_mae: 51751.9219
Epoch 64/100
250/250 [==============================] - 1s 3ms/step - loss: 51756.7578 - mae: 51756.7578 - val_loss: 51462.2812 - val_mae: 51462.2812
Epoch 65/100
250/250 [==============================] - 1s 3ms/step - loss: 51499.1133 - mae: 51499.1133 - val_loss: 51262.9219 - val_mae: 51262.9219
Epoch 66/100
250/250 [==============================] - 1s 3ms/step - loss: 51267.7734 - mae: 51267.7734 - val_loss: 51084.0859 - val_mae: 51084.0859
Epoch 67/100
250/250 [==============================] - 1s 3ms/step - loss: 51053.3516 - mae: 51053.3516 - val_loss: 50940.3906 - val_mae: 50940.3906
Epoch 68/100
250/250 [==============================] - 1s 3ms/step - loss: 50883.2070 - mae: 50883.2070 - val_loss: 50809.6094 - val_mae: 50809.6094
Epoch 69/100
250/250 [==============================] - 1s 3ms/step - loss: 50680.4688 - mae: 50680.4688 - val_loss: 50705.5859 - val_mae: 50705.5859
Epoch 70/100
250/250 [==============================] - 1s 3ms/step - loss: 50522.1250 - mae: 50522.1250 - val_loss: 50597.1406 - val_mae: 50597.1406
Epoch 71/100
250/250 [==============================] - 1s 3ms/step - loss: 50412.8398 - mae: 50412.8398 - val_loss: 50544.9062 - val_mae: 50544.9062
Epoch 72/100
250/250 [==============================] - 1s 3ms/step - loss: 50294.2930 - mae: 50294.2930 - val_loss: 50419.3359 - val_mae: 50419.3359
Epoch 73/100
250/250 [==============================] - 1s 3ms/step - loss: 50188.7031 - mae: 50188.7031 - val_loss: 50362.1016 - val_mae: 50362.1016
Epoch 74/100
250/250 [==============================] - 1s 3ms/step - loss: 50128.7539 - mae: 50128.7539 - val_loss: 50280.1797 - val_mae: 50280.1797
Epoch 75/100
250/250 [==============================] - 1s 3ms/step - loss: 50057.6406 - mae: 50057.6406 - val_loss: 50237.6133 - val_mae: 50237.6133
Epoch 76/100
250/250 [==============================] - 1s 3ms/step - loss: 50012.0977 - mae: 50012.0977 - val_loss: 50207.6055 - val_mae: 50207.6055
Epoch 77/100
250/250 [==============================] - 1s 3ms/step - loss: 49951.6758 - mae: 49951.6758 - val_loss: 50195.1094 - val_mae: 50195.1094
Epoch 78/100
250/250 [==============================] - 1s 3ms/step - loss: 49908.9141 - mae: 49908.9141 - val_loss: 50151.4453 - val_mae: 50151.4453
Epoch 79/100
250/250 [==============================] - 1s 3ms/step - loss: 49849.4844 - mae: 49849.4844 - val_loss: 50170.4375 - val_mae: 50170.4375
Epoch 80/100
250/250 [==============================] - 1s 3ms/step - loss: 49841.0391 - mae: 49841.0391 - val_loss: 50119.2070 - val_mae: 50119.2070
Epoch 81/100
250/250 [==============================] - 1s 3ms/step - loss: 49796.6875 - mae: 49796.6875 - val_loss: 50201.8789 - val_mae: 50201.8789
Epoch 82/100
250/250 [==============================] - 1s 3ms/step - loss: 49796.8789 - mae: 49796.8789 - val_loss: 50125.0156 - val_mae: 50125.0156
Epoch 83/100
250/250 [==============================] - 1s 3ms/step - loss: 49786.1875 - mae: 49786.1875 - val_loss: 50099.2852 - val_mae: 50099.2852
Epoch 84/100
250/250 [==============================] - 1s 3ms/step - loss: 49751.5742 - mae: 49751.5742 - val_loss: 50131.6523 - val_mae: 50131.6523
Epoch 85/100
250/250 [==============================] - 1s 3ms/step - loss: 49749.5234 - mae: 49749.5234 - val_loss: 50077.3398 - val_mae: 50077.3398
Epoch 86/100
250/250 [==============================] - 1s 3ms/step - loss: 49732.6289 - mae: 49732.6289 - val_loss: 50072.9648 - val_mae: 50072.9648
Epoch 87/100
250/250 [==============================] - 1s 3ms/step - loss: 49707.5547 - mae: 49707.5547 - val_loss: 50168.2188 - val_mae: 50168.2188
Epoch 88/100
250/250 [==============================] - 1s 3ms/step - loss: 49720.8945 - mae: 49720.8945 - val_loss: 50074.6016 - val_mae: 50074.6016
Epoch 89/100
250/250 [==============================] - 1s 3ms/step - loss: 49678.4297 - mae: 49678.4297 - val_loss: 50067.2148 - val_mae: 50067.2148
Epoch 90/100
250/250 [==============================] - 1s 3ms/step - loss: 49682.4375 - mae: 49682.4375 - val_loss: 50057.8789 - val_mae: 50057.8789
Epoch 91/100
250/250 [==============================] - 1s 3ms/step - loss: 49680.5352 - mae: 49680.5352 - val_loss: 50095.9531 - val_mae: 50095.9531
Epoch 92/100
250/250 [==============================] - 1s 3ms/step - loss: 49679.6016 - mae: 49679.6016 - val_loss: 50065.6758 - val_mae: 50065.6758
Epoch 93/100
250/250 [==============================] - 1s 3ms/step - loss: 49670.0547 - mae: 49670.0547 - val_loss: 50053.8281 - val_mae: 50053.8281
Epoch 94/100
250/250 [==============================] - 1s 3ms/step - loss: 49668.2031 - mae: 49668.2031 - val_loss: 50053.1289 - val_mae: 50053.1289
Epoch 95/100
250/250 [==============================] - 1s 3ms/step - loss: 49656.1758 - mae: 49656.1758 - val_loss: 50058.0000 - val_mae: 50058.0000
Epoch 96/100
250/250 [==============================] - 1s 3ms/step - loss: 49674.4453 - mae: 49674.4453 - val_loss: 50082.5234 - val_mae: 50082.5234
Epoch 97/100
250/250 [==============================] - 1s 3ms/step - loss: 49641.4805 - mae: 49641.4805 - val_loss: 50054.0312 - val_mae: 50054.0312
Epoch 98/100
250/250 [==============================] - 1s 3ms/step - loss: 49621.6289 - mae: 49621.6289 - val_loss: 50054.5273 - val_mae: 50054.5273
Epoch 99/100
250/250 [==============================] - 1s 3ms/step - loss: 49646.3906 - mae: 49646.3906 - val_loss: 50057.8516 - val_mae: 50057.8516
Epoch 100/100
250/250 [==============================] - 1s 3ms/step - loss: 49642.0312 - mae: 49642.0312 - val_loss: 50055.3203 - val_mae: 50055.3203

In [18]:
%load_ext tensorboard

In [19]:
%tensorboard --logdir regressionlogs/fit

In [20]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 [==============================] - 0s 2ms/step - loss: 50055.3203 - mae: 50055.3203
Test MAE : 50055.3203125

In [21]:
model.save('regression_model.h5')

/Users/sriramsohan/Documents/projects/testing_models/pipeline_inf_env/lib/python3.10/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(